{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="home-container">
    <h1>About Us</h1>
</div>
<div class="about-container">
    <div class="about-info-container">
        <p>Welcome to the Pacific Cultures Learning & Research Website, a platform and application
            dedicated to celebrating and preserving the rich cultural heritage of the Pacific.<br>
            Our goal is to provide travelers, researchers, and cultural enthusiats from all over the world with
            authentic, intuitive, and engaging content about Pacific traditions, customs,<br>and historical landmarks.
        </p>
    </div>
    <div class="about-info-container">
        <p>We believe that understanding the culture of these Pacific islands amplifies and enhances travel
            experiences and encourages strong and deeper connections between the locals<br> or foreign people.
            It's the reason why we bring together special knowledge, user stories or reviews, and interactive travel tools
            to produce a one-stop resource for learning and<br> delve into Pacific cultures. 
    </div>
    <div class="about-info-container">
        <p>Our website provides a thorough cultural guides, real experiences from travelers, multimedia content, and an interactive map
            to assist users navigate and value Pacific heritage.<br> It doesn't matter whether you're planning
            on a long trip, conducting research, or just admiring the beauty of any world culture, our platform offers and provides valuable<br>
            information and resources adjusted to your needs.
        </p>
    </div>
    <div class="about-info-container">
        <p>We welcome you to join us on this journey of discovery, acknowledgement, and appreciation as we traverse cultures and connect everyone
            through respect, knowledge, and experiences.
        </p>
    </div>
</div>
{% endblock %}