{% extends 'base.html' %}  
{% block content %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<div class="home-container">
        <h1>Welcome to the Pacific Culture!</h1>
    </div>
    {% load static %}
    <div class="image-container">
        <img src="{% static 'sample.jpg' %}" class="image" alt="Pacific Culture" />
    </div>
    <div class="home-container">
        <h3>EATERIES</h3>
    </div>
    <div class="image-row">
        <div class="image-containers">
            <a href="{% url 'dine_details' pk=1 %}">
                <img src="{% static 'sample.jpg' %}" class="image1" />
            </a> 
            <p>Eatery 1</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
        </div>
        <div class="image-containers">
            <a href="{% url 'dine_details' pk=2 %}">
                <img src="{% static 'sample.jpg' %}" class="image1" />
            </a>
            <p>Eatery 2</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
        </div>
        <div class="image-containers">
            <a href="{% url 'dine_details' pk=3 %}">
                <img src="{% static 'sample.jpg' %}" class="image1" />
            </a>    
            <p>Eatery 3</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
        </div>
    </div>
    <div class="image-row">
        <div class="image-containers">
            <a href="{% url 'dine_details' pk=4 %}">
                <img src="{% static 'sample.jpg' %}" class="image1" />
            </a> 
            <p>Eatery 4</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
        </div>
        <div class="image-containers">
            <a href="{% url 'dine_details' pk=5 %}">
                <img src="{% static 'sample.jpg' %}" class="image1" />
            </a>
            <p>Eatery 5</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
        </div>
        <div class="image-containers">
            <a href="{% url 'dine_details' pk=6 %}">
                <img src="{% static 'sample.jpg' %}" class="image1" />
            </a>    
            <p>Eatery 6</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
        </div>
    </div>
    <div class="home-container">
        <h3>ATTRACTIONS</h3>
    </div>
    <div class="attraction-container">
        <div class="image-content">
            <div>
                <h4>Subheading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
            </div>
            <div class="images-contents">
                <img src="{% static 'sample.jpg' %}" class="image1" />
            </div>
        </div>
        <div class="image-content">
            <div>
                <h4>Subheading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
            </div>
            <div class="images-contents">
                <img src="{% static 'sample.jpg' %}" class="image1" />
            </div>
        </div>
        <div class="image-content">
            <div>
                <h4>Subheading</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
            </div>
            <div class="images-contents">
                <img src="{% static 'sample.jpg' %}" class="image1" />
            </div>
        </div>
    </div>
    <div id="interactive-map" style="height: 800px; width: 80%; margin: 0 auto; display: block;"></div>
    <script>
        var interactiveMap = L.map('interactive-map').setView([-13.759, -172.1046], 10);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(interactiveMap);

        // Initial location of map
        var marker = L.marker([-13.759, -172.1046]).addTo(interactiveMap);
        marker.bindPopup('<b>Welcome to Samoa!</b>').openPopup();

        // handle the location of the search
        function placeSearch() {
            var insertLocation = document.getElementById('searchBox').value;

            // API request to search for the desired location with OpenStreetMap's geocoding API)
            fetch('https://nominatim.openstreetmap.org/search?format=json&q=' + insertLocation)
                .then(response => response.json())
                .then(data => {
                    if (data.length > 0) {
                        var place = data[0];
                        var lat = place.lat;
                        var lon = place.lon;
                        
                        // For the new location and update the marker
                        interactiveMap.setView([lat, lon], 15);
                        marker.setLatLng([lat, lon]);
                        marker.bindPopup('<b>' + place.display_name + '</b>').openPopup();
                    } else {
                        alert('Place not found!');
                    }
                });
        }
    </script>

    <!-- Search Box -->
    <input id="searchBox" type="text" placeholder="Search for a place" style="width: 300px; margin: 10px auto; display: block; padding: 10px;">
    <button class="interactive-map-button" onclick="placeSearch()">Search</button>
{% endblock %}