{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="home-container">
    <h1>Media</h1>
</div>
<div>
    <h2>Latest News</h2>
</div>
<div class="media-image-container">
    <img src="{% static 'sample.jpg' %}" class="media-image" />
    <h2 class="media-text">Updates</h2>
    <h2 class="media-text2">Latest updates and news from the Pacific Islands</h2>
    <ul class="media-resources-links">
        <li class="media-text3"><a href="https://matangitonga.to/" target="_blank">Matangi Tonga | Tonga's Leading News Website</a>
        <li class="media-text3"><a href="https://www.hawaiinewsnow.com/2025/03/15/seniors-shine-105th-annual-kamehameha-schools-song-contest/" target="_blank">Seniors Shine at 105th Annual Kamehameha Schools Song Contest. . .</a>
        <li class="media-text3"><a href="https://www.bizjournals.com/pacific/news/2025/03/14/kahala-estate-hawaii-home-price-record-65-million.html" target="_blank">Oceanfront Kahala estates sets new Hawaii Home. . .</a>
        <li class="media-text3"><a href="https://www.fbcnews.com.fj/" target="_blank">FBC News - Latest Fiji News, Sports, and Weather. Keeping the Fiji Islands. . .</a>
        <li class="media-text3"><a href="https://www.cookislandsnews.com/" target="_blank">Breaking News from the Cook Islands. . .</a>
        <li class="media-text3"><a href="https://www.samoaobserver.ws/" target="_blank">Samoa Oberver Daily News</a>
        <li class="media-text3"><a href="https://en.wikipedia.org/wiki/Pacific_Islands_Forum" target="_blank">Pacific Islands Forums Wiki. . .</a>
    </ul>
</div>
<h2>Summary</h2>
<div class="summary-container">
    <h3>Tonga</h3>
    <ul>
        <li><b>New Parliament Complex Construction: </b>
        Tonga is scheduled to start construction of a new expensive dollar Parliament complex on the Lake Lakalakaimonu Estate within the Tufumahina Royal Estate in Pea, Tongatapu. The project is expected to be completed by 2027. <b>(Matangi Tonga)</b></li>
        <li><b>Chess Grandmaster's Visit: </b>
        A Chess Grandmaster named Nigel Short from the United Kingdom recently visited the Ocean of Light International School in Tonga. Nigel aims to encourage students to play chess for activities and to promote chess programs within Tongan schools. <b>(Matangi Tonga)</b></li>
    </ul>
</div>
<div class="summary-container">
    <h3>Hawaii</h3>
    <ul>
        <li><b>Song Contest in the Kamehameha Schools: </b>
        The class of seniors in the school of Kamehameha Kapalama brushed the 105th annual Song Contest. This event marked months of preparation and promoted the students' commitment to Hawaiian culture and music. <b>(<a href="https://www.hawaiinewsnow.com" target="_blank">https://www.hawaiinewsnow.com</a>)</b></li>
        <li><b>Real Estates record-breaking sale: </b>
        An estate in Kahala, oceanfront, has been sold for $65.75 million which sets a new record for residential property sales in Hawaii. Oceanfront's previous owners include the late billionaire Genshiro Kawamoto from Japan and Chris Hemmeter, a developer. <b>(The Business Journal)</b></li>
    </ul>
</div>
<div class="summary-container">
    <h3>Fiji</h3>
    <ul>
        <li>hello</li>
    </ul>
</div>
<div class="summary-container">
    <h3>Rarotonga</h3>
    <ul>
        <li>hello</li>
    </ul>
</div>
<div class="summary-container">
    <h3>Samoa</h3>
    <ul>
        <li>hello</li>
    </ul>
</div>
<div class="summary-container">
    <h3>Kiribati</h3>
    <ul>
        <li>hello</li>
    </ul>
</div>
{% endblock %}