{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="home-container">
    <h1>Resources</h1>
</div>
<div class="about-container">
    <h2>Travel Guides</h2>
    <ul class="resources-links">
        <li><a href="https://www.lonelyplanet.com/articles/how-to-choose-a-south-pacific-island" target="_blank">Top Cultural Sites to Visit</a></li>
        <li><a href="https://www.beautifulpacific.com/south-pacific-maps/" target="_blank" class="about-info-container">Interactive Map for Pacific Islands</a></li>
        <li><a href="https://www.responsibletravel.com/holidays/south-pacific-islands/travel-guide" target="_blank" class="about-info-container">Responsible Travel Guidelines</a></li>
    </ul>
</div>
{% endblock %}