{% extends 'base.html' %}
{% block title %}Dine Details{% endblock %}

{% block content %}
{% if dine.image %}
    <img src="{{ dine.image.url }}" alt="{{ dine.name }} Image" class="dine-details-image"/>
{% else %}
    <p>No image available</p>
{% endif %}
<div class="dine-container-header">
    <h2>{{ dine.name }}</h2>
    <p>{{ dine.description}}</p>
</div>
<img src="{{ dine.image_1.url }}" alt="{{ dine.name }} Image_1" class="dine-details-image"/>
<div class="dine-container-header">
    <h2>{{ dine.name_1 }}</h2>
    <p>{{ dine.description_1}}</p>
</div>
<img src="{{ dine.image_2.url }}" alt="{{ dine.name }} Image_2" class="dine-details-image"/>
<div class="dine-container-header">
    <h2>{{ dine.name_2 }}</h2>
    <p>{{ dine.description_2}}</p>
</div>
{% endblock %}