{% extends 'base.html' %}
{% block title %}Buy Products{% endblock %}

{% block content %}
{% load static %}
<div class="home-container">
    <h1>Purchase Here</h1>
</div>

<div class="purchase-container">
    {% if purchase.image %}
        <img src="{{ purchase.image.url }}" alt="{{ purchase.name }} Image" class="purchase-image" />
    {% else %}
        <p>No image available</p>
    {% endif %}
    <div class="purchase-details">
        <h2>{{ purchase.name }}</h2>
        <p>{{ purchase.description }}</p>
        <h3>{{ purchase.description_one }}</h3>
        {% if user.is_authenticated %}
        <form>
            <div class="card">
                <input
                    type="text"
                    id="name"
                    name="name"
                    placeholder="Card Number"
                    required
                />
            </div>
            <div class="card">
                <input
                    type="text"
                    id="name"
                    name="name"
                    placeholder="Cardholder Name"
                    required
                />
            </div>
            <div class="card">
                <input
                    type="text"
                    id="name"
                    name="name"
                    placeholder="Expiry Date"
                    required
                />
            </div>
            <div class="card">
                <input
                    type="text"
                    id="name"
                    name="name"
                    placeholder="CVV Number"
                    required
                />
            </div>
        </form>
        <div class="purchase-button">
            <button>Purchase</button>
        </div>
        {% else %}
        <p>Please <a href="{% url 'login' %}">log in</a> to make a purchase.</p>
        {% endif %}
    </div>
</div>    
{% endblock %}