{% extends 'base.html' %}
{% block title %}Store Details{% endblock %}

{% block content %}
<div class="home-container">
    <h1>Store</h1>
</div>
{% load static %}
<div class="first-product">
    <img src="{% static 'sample.jpg' %}" class="product-one" />
    <div class="product-info">
        <h2>Product Name</h2>
        <div class="price-and-cart">
            <h3 class="price">Price</h3>
            <h3 class="cart">Add to Cart</h3>
        </div>
    </div>
</div>
<div class="second-product">
    <img src="{% static 'sample.jpg' %}" class="product-two" />
    <div class="product-info-2">
        <h2>Product Name</h2>
        <div class="price-and-cart-2">
            <h3 class="price-2">Price</h3>
            <h3 class="cart-2">Add to Cart</h3>
        </div>
    </div>
</div>
<div class="more-product">
    <h2>Section Heading</h2>
    <div class="more-product-container">
        <div class="product-three-container">
            <img src="{% static 'sample.jpg' %}" class="product-three" />
            <div class="product-details">
                <h2>Product</h2>
                <p>Description of the product</p>
                <p>Price</p>
            </div>
        </div>
        <div class="product-column">
            <img src="{% static 'sample.jpg' %}" class="product-four" /> 
            <div>
                <h2>Product</h2>
                <p>Descrption of the product</p>
                <p>Price</p>
            </div>
            <img src="{% static 'sample.jpg' %}" class="product-five" /> 
            <div>
                <h2>Product</h2>
                <p>Descrption of the product</p>
                <p>Price</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}