{% extends 'base.html' %}
{% block title %}Store Details{% endblock %}

{% block content %}
<div class="home-container">
    <h1>Store</h1>
</div>
{% load static %}
<div class="first-product">
    <img src="{% static 'tattoo.jpg' %}" class="product-one" />
    <div class="product-info">
        <h2>Traditional Tattoos</h2>
        <div class="price-and-cart">
            <h3 class="price">Price: $2500</h3>
            <h3 class="cart">
                <a href="{% url 'buy_products' pk=1 %}">Add to Cart</a>
            </h3>
        </div>
        <p>These tattoos are very common in Samoa, Tonga, and Fiji, however,
            they share the same culture with the other islands. It represents
            status, strength, heritage, and identity.
        </p>
    </div>
</div>
<div class="second-product">
    <img src="{% static 'jewel.jpg' %}" class="product-two" />
    <div class="product-info-2">
        <h2>Shell Necklaces & Jewelry</h2>
        <div class="price-and-cart-2">
            <h3 class="price-2">Price: $500</h3>
            <h3 class="cart-2">
                <a href="{% url 'buy_products' pk=2 %}">Add to Cart</a>
            </h3>
        </div>
        <p>Worn during celebrations, ceremonies, and welcoming rituals. Popular in
            Hawaii, Rarotonga, Tonga, and Fiji.
        </p>
    </div>
</div>
<div class="more-product">
    <h2>Featured Products</h2>
    <div class="more-product-container">
        <div class="product-three-container">
            <img src="{% static 'tapa.jpg' %}" class="product-three" />
            <div class="product-details">
                <h2>Tapa Cloth</h2>
                <p>This cloth is common in Tonga, Fiji, Samoa, and Rarotonga. Tapa cloth
                    is a handmade bark cloth used in ceremonies, gifts, and decorations.
                </p>
                <p><b><a href="{% url 'buy_products' pk=3 %}">$1500</a></b></p>
            </div>
        </div>
        <div class="product-column">
            <img src="{% static 'woven.jpg' %}" class="product-four" /> 
            <div class="product-details">
                <h2>Handwoven Mats</h2>
                <p>The mats are handwoven from pandanus leaves and are used for weddings,
                    funerals, presents, and ceremonies. In Tonga and Samoa, finely woven
                    mats are highly valued family heirlooms.
                </p>
                <p><b><a href="{% url 'buy_products' pk=4 %}">$300</a></b></p>
            </div>
            <img src="{% static 'drums.jpg' %}" class="product-five" /> 
            <div class="product-details">
                <h2>Traditional Drums</h2>
                <p>The drum is famous for its fast, rhythmic beats in traditional dancing.
                    Meaning these drums are used for music, storytelling, and calling people
                    for gathering.
                </p>
                <p><b><a href="{% url 'buy_products' pk=5 %}">$600</a></b></p>
            </div>
        </div>
    </div>
</div>
<div class="more-product">
    <h2 style="font-family: 'Dancing Script', cursive; color: #7B3F00;">What other travelers say!</h2>
</div>
<div class="extra-product">
    <div class="product-item">
        <span class="icon">🏝️</span> 
        <p><i>“Absolutely love the quality! Fast shipping too!” - Jane D.</i></p>    
    </div>
    <div class="product-item">
        <span class="icon">🏝️</span> 
        <p><i>“I really love the unique fabric of the Tapa cloth!" - Samuel Gordon</i></p>    
    </div>
    <div class="product-item">
        <span class="icon">🏝️</span> 
        <p><i>“The shell necklaces are gorgeous! Definitely buying again.” - Mark Rodrigo</i></p>    
    </div>
    <div class="product-item">
        <span class="icon">🏝️</span> 
        <p><i>“Bought the drums last year! My kids are loving it” - Dwayne Milton</i></p>    
    </div>
</div>
<div class="home-container">
    <h1>Our Story</h1>
    <div class="product-story">
        <p>"Inspired by the islands, we bring handcrafted products and shell jewelry to your doorstep"</p>
    </div>
    <span class="icon">🌊 </span>
</div>
{% endblock %}