/* Use this file for styling elements */

/* Base */

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
  padding: 10px;
}

.main-title {
  text-decoration: none;
}

.main-title h1 {
  position: relative;
  color: inherit;
  font-family: 'Dancing Script', cursive;
}

.main-title h1:hover {
  color: #555;
}

.authentication {
  display: flex;
  gap: 15px;
  margin-right: 50px;
}

.authentication a{
  text-decoration: none;
  color: black;
}

.left-button {
  display: flex;
  background-color: gray;
  color: white;
  border-radius: 50px;
  width: 100px;
  height: 50px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: transform 0.4s ease, box-shadow 0.4s ease; 
}

.left-button:hover {
  box-shadow:  0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transform: scale(1.1);
}

.right-button {
  display: flex;
  background-color: gray;
  color: white;
  border-radius: 50px;
  width: 100px;
  height: 50px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.right-button:hover {
  box-shadow:  0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transform: scale(1.1);
}

.logout-button {
  display: flex;
  background-color: gray;
  color: white;
  border-radius: 50px;
  width: 100px;
  height: 50px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.logout-button:hover {
  box-shadow:  0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transform: scale(1.1);
}

.profile-button {
  display: flex;
  background-color: gray;
  color: white;
  border-radius: 50px;
  width: 100px;
  height: 50px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.profile-button:hover {
  box-shadow:  0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transform: scale(1.1);
}

.home-button {
  text-decoration: none;
  color: black;
}

/* Authentication Page */

.form_container {
  padding: 100px 50px;
  display: flex;
}

.box_container {
  margin: 0 auto;
  border-radius: 30px;
  border: 1px solid rgb(145, 145, 145);
  width: 500px;
  padding-bottom: 80px;
}

.box_container button {
  background-color: #38bdf8;
  color: white;
  height: 50px;
  width: 200px;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  display: block;
}

.box_container h1 {
  text-align: center;
  padding-top: 50px;
  margin-bottom: 50px;
}

.box_container h3 {
  text-align: center;
  font-size: 16px;
}

.box_container form button {
  cursor: pointer;
}

.input_container {
  text-align: center;
}

.input_field {
  padding: 10px;
}

footer {
  display: flex;
  background-color: grey;
  padding: 40px;
  margin-top: 50px;
  justify-content: space-between;
}