{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="form_container">
  <div class="box_container">
    <h1>Profile</h1>
    {% if user.is_authenticated and user.host %}
      <h2>Host Account</h2>
      <h3><a href="{% url 'create_stay' %}">Add Stay</a></h3>
    {% endif %}
      <h3>User Name : {{ user.username }}</h3>
      <h3>First Name : {{ user.first_name }}</h3>
      <h3>Last Name : {{ user.last_name }}</h3>
    <form method='post' action="{ % url 'user_profile' %}"></form>
  </div>
</div>
{% endblock %}