{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="home-container">
    <h1>Blogs</h1>
</div>
<div class="blog-image-row">
    <div class="blog-image-containers">
        <img src="{% static 'james.jpg' %}" class="blog-image" />
            <p><i>"Samoa is a hidden gem! The community are incredibly warm and welcoming, and the beaches are stunning and clear. One of the beaches had the softest white sand, and the waterfalls were thrilling. The traditional fiafia night was one of the main hightlights of my trip - food were delicious and fire dancing was awesome!" - <b>James R. (USA)</b></i></p>
        <img src="{% static 'mia.jpg' %}" class="blog-image" />
            <p><i>"I loved and enjoyed exploring Samoa's traditional culture side, especially the To Sua Ocean Trench - it felt like walking into fantasy! The people are peaceful and kind as well! Tips of advice, public transport is not as frequent, so I would suggest to rent a car is best!" - <b>Mia K. (Australia)</b></i></p>
        <img src="{% static 'ben.jpg' %}" class="blog-image" />
            <p><i>"Swimming with a school of humpback whales in Tonga was an unforgettable moment! It was a once in lifetime experience and seeing those giants up close was life-changing. The islands are untouched, and the Tongan feasts were delicous as well. Highly recommended and would absolutely visit again!" - <b>Ben S. (New Zealand)</b></i></p>
    </div>
    <div class="blog-image-containers">
        <img src="{% static 'sophia.jpg' %}" class="blog-image" />
            <p><i>"Tonga's traditional culture is so authentic, unique, and deeply rooted in tradition. The Kava ceremonies were fascinating! Most of the islands are quieter compared to other locations, so it's perfect if you are looking for something peace and quite. Also, never miss out on their food as well. It was very delicious!" - <b>Sophia Mendez (Mexico)</b></i></p>
        <img src="{% static 'chris.jpg' %}" class="blog-image" />
            <p><i>"One of the best islands I've ever been was Rarotonga. It was a paradise on Earth! The lagoon water was crystal clear which is perfect for swimming and snorkling. Everyone was friendly and happy, and it's easy to explore the island too. The night Polynesian dancing show was superb!" - <b>Chris Wu (UK)</b></i></p>
        <img src="{% static 'jake.jpg' %}" class="blog-image" />
            <p><i>"Such a beautiful and very relaxing island! I love the beaches as they were very pristine, and the vibe from everyone was very laid-back, but happy. Although, some shops closes early so I had to plan personal errands in advance. Overall, Rarotonga was a great escape from reality. Will be back sometime soon for sure!" - <b>Jake P. (Germany)</b></i></p>
    </div>
    <div class="blog-image-containers">
        <img src="{% static 'aaminah.jpg' %}" class="blog-image" />
            <p><i>"I believe Hawaii has it all! - volcanoes, beaches, forests, and incredible food! Watching the sunrise at Haleakala Crater in Maui was very magical. The Aloha dance and spirit is real, like it was a full-on party without any special occasions. Had a really great time and I can't wait to return any time soon!" - <b>Aaminah Yusef (Iran)</b></i></p>
        <img src="{% static 'tom.jpg' %}" class="blog-image" />
            <p><i>"I loved Kiribati during my Pacific island travels. It is an off-the-beaten-path paradise. If anyone love an untouched nature and want to experience what I've experience which is a true island lifestyle, this is the place. The local dances were amazing and fun! The hospitality was also unmatched!" - <b>Tom Baba (Uganda)</b></i></p>
        <img src="{% static 'charles.jpg' %}" class="blog-image" />
            <p><i>"Out of all the Pacific islands I've ever been, I believe Fiji is hands down the best places I've ever visited! The community are the friendliest in the world! I did a lot of swimming and the snorkling at the Mamanuca Islands was unbelievable. The Fijian culture is so calm and vibrant, and I loved the Lovo feast! It is amazing!" - <b>Charles Yi (China)</b></i></p>
    </div>
</div>
<div class="home-container">
    <h1>Post blog</h1>
</div>

{% if user.is_authenticated %}
<div class="blog-home-container">
    <h1>Share your experience with us:</h1>
    <form method="Post">
        {% csrf_token %}
        <div class="about-message-container">
            <textarea id="blog_content" name="blog_content" rows="5" cols="50" placeholder="Please log in with us to write your personal experience"></textarea>
        </div>
        <br>
        <button type="submit" class="blog-submit-button">Submit</button>
    </form>
{% else %}
    <div class="blog-home-container">
        <p>You must <a href="{% url 'login' %}">log in</a> or <a href="{% url 'signup' %}">create an account</a> to post a blog.</p>
    </div>
{% endif %}
</div>
{% endblock %}