<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Software Project 2025</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/base.css' %}" />
</head>
<body>
  <header class="main-header">
   <div class="authentication">
    {% if user.is_authenticated %}
    <span>Hello there, {{ user.username }}!</span>
    <a href="{% url 'user_profile' %}">Profile</a>
    <a href="{% url 'logout' %}" class="logout-link">Logout</a>
    {% else %}
    <a href="{% url 'login' %}" class="login-link">Login</a>
    <a href="{% url 'signup' %}" class="login-link">Sign Up</a>
    {% endif %}
   </div>
    <a href="{% url 'base' %}" class="main-title">
      <h1>Pacifica Cultures Learning & Research Application</h1>
    </a>
  </header>
  <div>{% block content %} {% endblock %}</div>

  <footer>
    <div class="text1">
      &copy; 2025 Pacifica, Inc.
    </div>
    <div class="text2">
      Work with us
    </div>
  </footer>

</body>
</html>
